[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pillow = "*"
braintree = "*"

[requires]
python_version = "3.8"
